<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body>
    
        
    <div class="container" style="top:10%; position:absolute;">
       <!-- <h2>Basic Panel</h2>-->
        <div class="panel panel-default" >
        <div class="panel-body">Welcome <%= myobject1.firstName %> <%= myobject1.lastName %>,
               <form action="/api/getall" method="get"><button type="submit" >Getall</button></form>
            <br><br>
        <!--<form action="/api/search" method="post">
            <input type="text" placeholder="Serach for..">
            <button type="submit" >Go!</button>
        </form>-->
             <br><br> 
           
            
            
        <form action="/api/logout" method="post">
        
            <button type="submit">LOgout</button>
        </form>
         </div>
        </div>
  
     
                    
    </div>
            
  </body>
</html>
